<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="/css/modal.css">
    <title>Contact Section</title>
</head>

<body>

    <!-- Topbar Section Start -->
    <section class="topbar-main p-1">
        <div class="container">
            <div class="row">
                <div class="col-md-auto col-lg-auto col-12">
                    <img src="/img/logoo.png" alt="Shop" width="80px" height="70px">
                </div>
                <div class="col-md-auto col-lg-auto topbar-content text-white col-12">
                    <i class="fas fa-map-marker-alt me-1"></i> Dipayal Bazzar Doti, Nepal
                    <i class="fas fa-envelope ms-3 me-1"></i> mobilenabin123@gmail.com
                    <i class="fas fa-phone-alt ms-3 me-1"></i> 9848431087
                    <i class="fa-solid fa-clock-rotate-left me-1 ms-3"></i> Mon - Sat 8:00 - 17:30
                </div>
                <div
                    class="col-md-auto col-lg-auto social-media d-flex align-items-center gap-3 ms-5 text-decoration-none col-12">
                    <a href="https://www.facebook.com/sher.chand.357161"><i class="fa-brands fa-facebook"></i></a>
                    <a href="https://www.linkedin.com/in/dhirendrabam001/"><i class="fa-brands fa-linkedin"></i></a>
                    <a href="https://github.com/dhirendrabam001"><i class="fa-brands fa-github"></i></a>

                </div>
            </div>
    </section>

    <!-- Topbar Section end -->

    <!-- Navbar section start -->

    <nav class="navbar navbar-expand-lg text-white">
        <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="fa-solid fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 gap-3">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/services">Services</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">Pages</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/about">About Us</a></li>
                            <li><a class="dropdown-item" href="/services">Serives</a></li>
                            <li><a class="dropdown-item" href="/gallery">Gallery</a></li>
                            <li><a class="dropdown-item" href="/error">404 Error</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/blog">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact Us</a>
                    </li>
                    <div class="navbar-btn">
                        <a href="/login" class="btn btn-outline-primary text-white text-decoration-none" type="submit">Login</a>
                    </div>
                </ul>
                <div class="navbar-btn-2 me-4">
                    <button class="btn btn-outline-success" type="submit" data-bs-toggle="modal"
                        data-bs-target="#getintotouch">GET INTO TOUCH</button>
                </div>

                <!-- Get Into Touch Modal -->
                <div class="modal fade" id="getintotouch" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="titles" id="exampleModalLabel">Support Team</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form action="/supportteam" method="post">
                                    <div class="mb-3">
                                        <input type="text" class="form-control" id="username" name="username"
                                            placeholder="Username" aria-describedby="uernamehelp">
                                    </div>
                                    <div class="mb-3">
                                        <input type="email" class="form-control" id="email" name="email"
                                            placeholder="Enter Your Email" aria-describedby="emailhelp">
                                    </div>
                                    <div class="mb-3">
                                        <input type="text" class="form-control" id="subject" name="subject"
                                            placeholder="Subject" aria-describedby="subjecthelp">
                                    </div>
                                    <div class="mb-3">
                                        <input type="text" class="form-control" id="yourname" name="yourname"
                                            placeholder="Your Name" aria-describedby="yournamehelp">
                                    </div>
                                    <div class="mb-3">
                                        <input type="number" class="form-control" id="yournumber" name="yournumber"
                                            placeholder="Your Number" aria-describedby="yournumberhelp">
                                    </div>
                                    <div class="mb-3">
                                        <textarea class="form-control" id="message" name="message"
                                            placeholder="Leave A Comment Here..." rows="5"></textarea>
                                    </div>
                                    <div class="support-btn">
                                        <button type="submit" class="btn btn-outline-primary w-100">Send</button>
                                    </div>
                                </form>

                            </div>
                        </div>

                    </div>
                </div>



            </div>
        </div>
    </nav>

    <!-- Navbar section end -->

    <!-- Home section start -->
    <section class="home-main-1">
        <div class="container">
            <div class="text-center">
                <h2 class="fw-bold text-uppercase fs-3 text-white">About Us</h2>
            </div>
            <div class="text-center">
                <h3 class="fs-6 text-white mt-2">HOME/ ABOUT</h3>
            </div>

        </div>
    </section>

    <!-- Home section end -->

    <!-- Map Section start -->
    <section class="map-info">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d54951.707247165876!2d76.76870222105283!3d30.59217355697433!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390fbfe3d47980c5%3A0x81c713e2fce9c86a!2sDera%20Bassi%2C%20Punjab!5e0!3m2!1sen!2sin!4v1749040960190!5m2!1sen!2sin"
            width="100%" height="80%" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </section>

    <!-- Map section end -->

    <!-- Footer contact section start -->
    <section class="footer-contact">
        <div class="container">
            <div class="row g-5">
                <div class="col-12 col-md-6">
                    <div class="footer-contact-info">
                        <h2 class="fs-4 fw-bold">Say Hello To Us</h2>
                        <hr>
                        <form>
                            <div class="mb-3">
                                <input type="text" class="form-control" name="name" placeholder="Name"
                                    id="exampleInputname" aria-describedby="name">
                            </div>
                            <div class="mb-3">
                                <input type="email" class="form-control" name="email" placeholder="Email"
                                    id="exampleInputemail" aria-describedby="email">
                            </div>
                            <div class="mb-3">
                                <input type="text" class="form-control" name="Subject" placeholder="subject"
                                    id="exampleInputemail" aria-describedby="subject">
                            </div>
                            <div class="mb-3">
                                <textarea class="form-control" placeholder="Message.." id="exampleFormControlTextarea1" rows="5"></textarea>
                            </div>
                            <button type="submit" class="btn btn-outline-primary">Send</button>
                        </form>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="footer-contact-info">
                        <h2 class="fs-4 fw-bold">Contact Us</h2>
                        <hr>
                        <div class="footer-content-right d-flex align-items-center gap-4">
                            <div class="footer-icons">
                                <i class="fa-solid fa-house-user"></i>
                            </div>
                            <div class="footer-contents">
                                <p>Dipayal Pipalla Bazzar Doti</p>
                            </div>  
                        </div>
                        <div class="footer-content-right d-flex align-items-center gap-4">
                            <div class="footer-icons">
                                <i class="fa-solid fa-phone-volume"></i>
                            </div>
                            <div class="footer-contents">
                                <p>9848431087, +916284844323</p>
                            </div>  
                        </div>
                        <div class="footer-content-right d-flex align-items-center gap-4">
                            <div class="footer-icons">
                                <i class="fa-regular fa-envelope"></i>
                            </div>
                            <div class="footer-contents">
                                <p>mobilebin123@gmail.com</p>
                            </div>  
                        </div>
                        <div class="footer-content-right d-flex align-items-center gap-4 mt-3">
                            <div class="footer-icons">
                                <i class="fa-brands fa-internet-explorer"></i>
                            </div>
                            <div class="footer-contents">
                                <a href="https://dhirendraportfolio.vercel.app/">www.portfolio.com</a>
                            </div>  
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer contact section end -->

     <!-- Footer Section start -->
    <section class="footer-main py-4">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-3">
                    <img src="/img/logoo.png" width="150px" height="150px" alt="logo">
                    <p>At Nabin Mobile Gallery. We specialize in providing top-notch mobile sales repair services, and
                        accessories all under one roof.</p>
                </div>
                <div class="col-12 col-md-3 text-white shop-infoo">
                    <h4>Shop Info</h4>
                    <ul>
                        <li>Adress: Dipayal Pipalla Bazzar <br>Doti</li>
                        <hr>
                        <li>Phone: +9779848431087</li>
                        <li>Email: <span class="text-warning">mobilenabin123@gmail.com</span></li>
                        <hr>
                        <li>Hours: Sun - Fri (8AM - 8PM)</li>
                    </ul>
                </div>
                <div class="col-12 col-md-3 text-white shop-infoo">
                    <h4>Services</h4>
                    <div class="footer-servic d-flex align-items-center">
                        <ul>
                            <div class="footer-service-content">
                                <i class="fa-solid fa-circle-check text-primary me-2"></i> Laptop Repair
                            </div>
                            <div class="footer-service-content">
                                <i class="fa-solid fa-circle-check text-primary me-2"></i> Iphone Repair
                            </div>
                            <div class="footer-service-content">
                                <i class="fa-solid fa-circle-check text-primary me-2"></i> Ipad Repair
                            </div>
                            <div class="footer-service-content">
                                <i class="fa-solid fa-circle-check text-primary me-2"></i> Tablet Repair
                            </div>
                            <div class="footer-service-content">
                                <i class="fa-solid fa-circle-check text-primary me-2"></i> Smartphone Repair
                            </div>
                            <div class="footer-service-content">
                                <i class="fa-solid fa-circle-check text-primary me-2"></i> Device Unlocking
                            </div>
                            <div class="footer-service-content">
                                <i class="fa-solid fa-circle-check text-primary me-2"></i> Recovery Data
                            </div>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-3 text-white shop-infoo">
                    <h4>Newsletter</h4>
                    <p>Signup for regular newsletter and stay upto date with our latest news</p>
                    <form>
                        <div class="mb-3">
                            <input type="email" class="form-control" id="email" name="email"
                                placeholder="Enter Your Email...." aria-describedby="emailHelp">
                            <button type="submit" class="btn btn-warning">
                                <i class="fa fa-chevron-right"></i>
                            </button>
                        </div>
                </div>
                </form>
            </div>
        </div>

        </div>
    </section>

    <!-- Footer Section end -->

    <!-- Button section start -->
    <section class="button-main py-4">
        <div class="container">
            <div class="text-center text-white mb-2">
                <p>Copyright © 2023. All right reserved by <span class="text-warning">Dhirendra</span> Bam</p>
            </div>
        </div>
    </section>

    <!-- Button section end -->


    <script src="/js/bootstrap.bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/scrollReveal.js/4.0.9/scrollreveal.min.js"
        integrity="sha512-Kr+RPfLjQ71E0cJ9nseJ6jwTrnmMnuSPnnsVQQ/ZYYCjOHKfJcWj8ILICXnvf9A7ZQChNzIbr9x/ZAxA6xAZlQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/js/script.js"></script>
</body>

</html>