<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="/css/modal.css">
    <title>Service Section</title>
</head>
<body>

            <!-- Topbar Section Start -->
    <section class="topbar-main p-1">
        <div class="container">
            <div class="row">
                <div class="col-md-auto col-lg-auto col-12">
                    <img src="/img/logoo.png" alt="Shop" width="80px" height="70px">
                </div>
                <div class="col-md-auto col-lg-auto topbar-content text-white col-12">
                    <i class="fas fa-map-marker-alt me-1"></i> Dipayal Bazzar Doti, Nepal
                    <i class="fas fa-envelope ms-3 me-1"></i> mobilenabin123@gmail.com
                    <i class="fas fa-phone-alt ms-3 me-1"></i> 9848431087
                    <i class="fa-solid fa-clock-rotate-left me-1 ms-3"></i> Mon - Sat 8:00 - 17:30
                </div>
                <div
                    class="col-md-auto col-lg-auto social-media d-flex align-items-center gap-3 ms-5 text-decoration-none col-12">
                    <a href="https://www.facebook.com/sher.chand.357161"><i class="fa-brands fa-facebook"></i></a>
                    <a href="https://www.linkedin.com/in/dhirendrabam001/"><i class="fa-brands fa-linkedin"></i></a>
                    <a href="https://github.com/dhirendrabam001"><i class="fa-brands fa-github"></i></a>

                </div>
            </div>
    </section>

    <!-- Topbar Section end -->
    
    <!-- Navbar section start -->

    <nav class="navbar navbar-expand-lg text-white">
        <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="fa-solid fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 gap-3">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/services">Services</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">Pages</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/about">About Us</a></li>
                            <li><a class="dropdown-item" href="/services">Serives</a></li>
                            <li><a class="dropdown-item" href="/gallery">Gallery</a></li>
                            <li><a class="dropdown-item" href="/error">404 Error</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/blog">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact Us</a>
                    </li>
                    <div class="navbar-btn">
                        <a href="/login" class="btn btn-outline-primary text-white text-decoration-none" type="submit">Login</a>
                    </div>
                </ul>
                <div class="navbar-btn-2 me-4">
                    <button class="btn btn-outline-success" type="submit" data-bs-toggle="modal"
                        data-bs-target="#getintotouch">GET INTO TOUCH</button>
                </div>

                <!-- Get Into Touch Modal -->
                <div class="modal fade" id="getintotouch" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="titles" id="exampleModalLabel">Support Team</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form action="/supportteam" method="post">
                                    <div class="mb-3">
                                        <input type="text" class="form-control" id="username" name="username"
                                            placeholder="Username" aria-describedby="uernamehelp">
                                    </div>
                                    <div class="mb-3">
                                        <input type="email" class="form-control" id="email" name="email"
                                            placeholder="Enter Your Email" aria-describedby="emailhelp">
                                    </div>
                                    <div class="mb-3">
                                        <input type="text" class="form-control" id="subject" name="subject"
                                            placeholder="Subject" aria-describedby="subjecthelp">
                                    </div>
                                    <div class="mb-3">
                                        <input type="text" class="form-control" id="yourname" name="yourname"
                                            placeholder="Your Name" aria-describedby="yournamehelp">
                                    </div>
                                    <div class="mb-3">
                                        <input type="number" class="form-control" id="yournumber" name="yournumber"
                                            placeholder="Your Number" aria-describedby="yournumberhelp">
                                    </div>
                                    <div class="mb-3">
                                        <textarea class="form-control" id="message" name="message"
                                            placeholder="Leave A Comment Here..." rows="5"></textarea>
                                    </div>
                                    <div class="support-btn">
                                        <button type="submit" class="btn btn-outline-primary w-100">Send</button>
                                    </div>
                                </form>

                            </div>
                        </div>

                    </div>
                </div>



            </div>
        </div>
    </nav>

    <!-- Navbar section end -->

        <!-- Home section start -->
     <section class="home-main-1">
        <div class="container">
            <div class="text-center">
                <h2 class="fw-bold text-uppercase fs-3 text-white">About Us</h2>
            </div>
            <div class="text-center">
                <h3 class="fs-6 text-white mt-2">HOME/ ABOUT</h3>
            </div>

        </div>
     </section>

    <!-- Home section end -->

        <!-- Service section start -->

    <section class="services-main py-4">
        <div class="container">
            <div class="text-center mb-2">
                <h2 class="text-white fw-bold">Our Repair Services</h2>
                <p class="my-2">"We offer fast, reliable, and affordable repair services for all your devices<br>From
                    phones to laptops, our experts ensure top-quality fixes to get you back on track quickly."</p>
            </div>
            <div class="row align-items-center justify-content-center g-5 mt-2">
                <div class="col-12 col-md-3">
                    <div class="card p-2 shadow">
                        <i class="fa-solid fa-computer"></i>
                        <div class="card-body">
                            <h5 class="card-title">Computer Repair</h5>
                            <p class="card-text">We fix all types of computer issues including slow performance,
                                software errors, hardware failures, and virus removal to keep your system running
                                smoothly.</p>
                            <a href="#" class="btn">Learn More →</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="card p-2 shadow">
                        <i class="fa-solid fa-mobile-button"></i>
                        <div class="card-body">
                            <h5 class="card-title">Mobile Repair</h5>
                            <p class="card-text">We provide fast and reliable mobile repair services, including screen
                                replacement, battery issues, and software fixes for all major smartphone brands.</p>
                            <a href="#" class="btn">Learn More →</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="card p-2 shadow">
                        <i class="fa-solid fa-laptop"></i>
                        <div class="card-body">
                            <h5 class="card-title">Laptop Repair</h5>
                            <p class="card-text">We specialize in repairing all types of laptop issues, from slow
                                performance, and software crashes. Whether it's a hardware malfunction or a system
                                problem.</p>
                            <a href="#" class="btn">Learn More →</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="card p-2 shadow">
                        <i class="fa-solid fa-unlock-keyhole"></i>
                        <div class="card-body">
                            <h5 class="card-title">Unlocking Devices</h5>
                            <p class="card-text">Our unlocking service allows you to use your selling your phone,
                                permanent unlock without affecting your data or warranty.</p>
                            <a href="#" class="btn">Learn More →</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Service section end -->

        <!-- Our Repair Plan Start -->
    <section class="repair-main py-4">
        <div class="container">
            <div class="text-center my-2">
                <h2 class="fw-bold fs-1">Our Repair Plan</h2>
                <p>We offer fast affordable and guaranteed repair services for your devices.</p>
            </div>
            <div class="row justify-content-between align-items-center g-4 mt-3">
                <div class="col-12 col-md-4 plan-info">
                    <div class="card text-center p-3">
                        <i class="fas fa-wrench me-3"></i>
                        <div class="card-body">
                            <h5 class="card-title">BASIC</h5>
                            <span class="fw-bold fs-3 text-danger">$30/Mo</span>
                            <ul class="">
                                <i class="fa-solid fa-circle-check fs-6"></i> Screen Guard Replacement<br>
                                <i class="fa-solid fa-circle-check fs-6"></i> Battery Replacement<br>
                                <i class="fa-solid fa-circle-check fs-6"></i> Software Optimization<br>
                                <i class="fa-solid fa-circle-check fs-6"></i> Charging Port Cleaning<br>
                                <i class="fa-solid fa-circle-check fs-6"></i> Touch Replacement<br>
                                <i class="fa-solid fa-circle-check fs-6"></i> Fixing Diagnoses Problem
                            </ul>
                            <!-- Trigger Button -->
                            <button class="btn btn-primary mt-2" type="submit" data-bs-toggle="modal"
                                data-bs-target="#OrderInfo">
                                Book Now
                            </button>

                            <!-- Modal -->



                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 plan-info">
                    <div class="card text-center p-3 shadow bg-success">
                        <i class="fas fa-tools me-3 text-white"></i>
                        <div class="card-body">
                            <h5 class="card-title text-white">STANDARD</h5>
                            <span class="fw-bold fs-3 text-white">$50/Mo</span>
                            <ul class="text-white">
                                <i class="fa-solid fa-circle-check fs-6 text-white"></i> All Basic Features Included<br>
                                <i class="fa-solid fa-circle-check fs-6 text-white"></i> Speaker Cleaning<br>
                                <i class="fa-solid fa-circle-check fs-6 text-white"></i> Camera Lens Polishing<br>
                                <i class="fa-solid fa-circle-check fs-6 text-white"></i> Internal Dust Cleaning<br>
                                <i class="fa-solid fa-circle-check fs-6 text-white"></i> Free Error (No Service
                                Charge)<br>
                                <i class="fa-solid fa-circle-check fs-6 text-white"></i> Priority Service (Next Day)
                            </ul>
                            <!-- Trigger Button -->
                            <button class="btn btn-primary mt-2" type="submit" data-bs-toggle="modal"
                                data-bs-target="#OrderInfo">
                                Book Now
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 plan-info">
                    <div class="card text-center p-3">
                        <i class="fas fa-crown me-3"></i>
                        <div class="card-body">
                            <h5 class="card-title">PREMIUM</h5>
                            <span class="fw-bold fs-3 text-danger">$100/Mo</span>
                            <ul class="">
                                <i class="fa-solid fa-circle-check fs-6"></i> All Standard Features Included<br>
                                <i class="fa-solid fa-circle-check fs-6"></i> Monthly Maintenance Check<br>
                                <i class="fa-solid fa-circle-check fs-6"></i> Free Premium Accessories (e.g., Case,
                                Cable)<br>
                                <i class="fa-solid fa-circle-check fs-6"></i> 24/7 Customer Support<br>
                                <i class="fa-solid fa-circle-check fs-6"></i> Extended Warranty Support
                            </ul>
                            <!-- Trigger Button -->
                            <button class="btn btn-primary mt-2" type="submit" data-bs-toggle="modal"
                                data-bs-target="#OrderInfo">
                                Book Now
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Our Repair Plan end  -->

        <!-- Booking Modal -->

    <div class="modal fade" id="OrderInfo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Booking Your Services Plan</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/bookingForm" method="post">
                        <div class="mb-2">
                            <label for="recipient-name" class="col-form-label">Full Name:</label>
                            <input type="text" class="form-control" name="fullname" id="recipient-name">
                        </div>
                        <div class="mb-2">
                            <label for="message-text" class="col-form-label">Email Address:</label>
                            <input type="email" class="form-control" name="email" id="email">
                        </div>
                        <div class="mb-2">
                            <label for=number" class="col-form-label">Phone Number:</label>
                            <input type="tel" class="form-control" name="phonenumber" id="phonenumber">
                        </div>
                        <div class="mb-2">
                            <label for="device" class="form-label">Device Type</label>
                            <select class="form-select" id="device" name="deviceType" required>
                                <option value="">Select Device</option>
                                <option value="mobile">Mobile</option>
                                <option value="laptop">Laptop</option>
                                <option value="tablet">Tablet</option>
                            </select>
                        </div>
                        <div class="mb-2">
                            <label for="plan" class="form-label">Service Plan</label>
                            <select class="form-select" id="plan" name="plan" required>
                                <option value="">Choose Plan</option>
                                <option value="basic">Basic</option>
                                <option value="standard">Standard</option>
                                <option value="premium">Premium</option>
                            </select>
                        </div>
                        <div class="mb-2">
                            <label for="issue" class="form-label">Issue Description</label>
                            <textarea class="form-control" id="issue" name="issue" rows="3"
                                placeholder="Describe the problem..."></textarea>
                        </div>
                        <div class="mb-2">
                            <label for="bookingDate" class="form-label">Preferred Date & Time</label>
                            <input type="datetime-local" class="form-control" id="bookingDate" name="bookingDate"
                                required>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Submit Booking</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Booking modal end -->

        <!-- Team Section start -->
    <section class="team-main py-4">
        <div class="container">
            <div class="text-center my-2">
                <h2 class="fw-bold fs-1">Our Awesome Team</h2>
                <p>Friendly, knowledgeable, and passionate — our team is here to help you find the perfect mobile phone
                    and accessories.<br>We’re dedicated to great service and the latest tech, making your shopping
                    experience easy and enjoyable.</p>
            </div>
            <div class="row justify-content-center align-items-center g-5 mt-1">
                <div class="col-12 col-md-4 team-info">
                    <div class="card shadow">
                        <img src="/img/about-2.jpg" class="card-img-top" alt="client-1">
                        <div class="card-body text-center">
                            <h5 class="card-title-1">Sher Chand</h5>
                            <p class="card-text-1">Founder/Owner</p>
                        </div>
                        <div class="card-footer d-flex align-items-center gap-2 bg-white justify-content-center">
                            <a href="#"><i class="fa-brands fa-facebook"></i></a>
                            <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                            <a href="#"><i class="fa-brands fa-github"></i></a>
                            <a href="#"><i class="fa-brands fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <!-- team-2 -->
                <div class="col-12 col-md-4 team-info">
                    <div class="card shadow">
                        <img src="/img/copy.png" class="card-img-top" height="434px" alt="client-2">
                        <div class="card-body text-center">
                            <h5 class="card-title-1">Dhirendra Bam</h5>
                            <p class="card-text-1">Software Engineer</p>
                        </div>
                        <div class="card-footer d-flex align-items-center gap-2 bg-white justify-content-center">
                            <a href="#"><i class="fa-brands fa-facebook"></i></a>
                            <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                            <a href="#"><i class="fa-brands fa-github"></i></a>
                            <a href="#"><i class="fa-brands fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <!-- team-3 -->
                <div class="col-12 col-md-4 team-info">
                    <div class="card shadow">
                        <img src="/img/team-3.jpg" class="card-img-top" height="434px" alt="client-3">
                        <div class="card-body text-center">
                            <h5 class="card-title-1">Puja Chand</h5>
                            <p class="card-text-1">Customer Support</p>
                        </div>
                        <div class="card-footer d-flex align-items-center gap-2 bg-white justify-content-center">
                            <a href="#"><i class="fa-brands fa-facebook"></i></a>
                            <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                            <a href="#"><i class="fa-brands fa-github"></i></a>
                            <a href="#"><i class="fa-brands fa-instagram"></i></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- Team Section end-->

    <!-- Footer Section start -->
    <section class="footer-main py-4">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-3">
                    <img src="/img/logoo.png" width="150px" height="150px" alt="logo">
                    <p>At Nabin Mobile Gallery. We specialize in providing top-notch mobile sales repair services, and
                        accessories all under one roof.</p>
                </div>
                <div class="col-12 col-md-3 text-white shop-infoo">
                    <h4>Shop Info</h4>
                    <ul>
                        <li>Adress: Dipayal Pipalla Bazzar <br>Doti</li>
                        <hr>
                        <li>Phone: +9779848431087</li>
                        <li>Email: <span class="text-warning">mobilenabin123@gmail.com</span></li>
                        <hr>
                        <li>Hours: Sun - Fri (8AM - 8PM)</li>
                    </ul>
                </div>
                <div class="col-12 col-md-3 text-white shop-infoo">
                    <h4>Services</h4>
                    <div class="footer-servic d-flex align-items-center">
                        <ul>
                            <div class="footer-service-content">
                                <i class="fa-solid fa-circle-check text-primary me-2"></i> Laptop Repair
                            </div>
                            <div class="footer-service-content">
                                <i class="fa-solid fa-circle-check text-primary me-2"></i> Iphone Repair
                            </div>
                            <div class="footer-service-content">
                                <i class="fa-solid fa-circle-check text-primary me-2"></i> Ipad Repair
                            </div>
                            <div class="footer-service-content">
                                <i class="fa-solid fa-circle-check text-primary me-2"></i> Tablet Repair
                            </div>
                            <div class="footer-service-content">
                                <i class="fa-solid fa-circle-check text-primary me-2"></i> Smartphone Repair
                            </div>
                            <div class="footer-service-content">
                                <i class="fa-solid fa-circle-check text-primary me-2"></i> Device Unlocking
                            </div>
                            <div class="footer-service-content">
                                <i class="fa-solid fa-circle-check text-primary me-2"></i> Recovery Data
                            </div>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-3 text-white shop-infoo">
                    <h4>Newsletter</h4>
                    <p>Signup for regular newsletter and stay upto date with our latest news</p>
                    <form>
                        <div class="mb-3">
                            <input type="email" class="form-control" id="email" name="email"
                                placeholder="Enter Your Email...." aria-describedby="emailHelp">
                            <button type="submit" class="btn btn-warning">
                                <i class="fa fa-chevron-right"></i>
                            </button>
                        </div>
                </div>
                </form>
            </div>
        </div>

        </div>
    </section>

    <!-- Footer Section end -->

    <!-- Button section start -->
    <section class="button-main py-4">
        <div class="container">
            <div class="text-center text-white mb-2">
                <p>Copyright © 2023. All right reserved by <span class="text-warning">Dhirendra</span> Bam</p>
            </div>
        </div>
    </section>

    <!-- Button section end -->
    



    <script src="/js/bootstrap.bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/scrollReveal.js/4.0.9/scrollreveal.min.js"
        integrity="sha512-Kr+RPfLjQ71E0cJ9nseJ6jwTrnmMnuSPnnsVQQ/ZYYCjOHKfJcWj8ILICXnvf9A7ZQChNzIbr9x/ZAxA6xAZlQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/js/script.js"></script>
</body>
</html>