<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/bootstrap.min.css">  
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="/css/modal.css">
  <title>Email Verification</title>
</head>
<body>
  
  <section class="main-verification">
  <div class="container">
    <div class="verification-box text-center">
      <h4>Email Verification</h4>
      <p>Please enter the 6-digit code sent to your email.</p>

      <form action="/verify" method="POST">
        <label class="mb-2">Enter your 6-digit code</label>
        <div class="d-flex justify-content-center mb-3">
          <% for (let i = 0; i < 6; i++) { %>
            <input type="text" class="otp-input" maxlength="1" required>
          <% } %>
        </div>

        <input type="hidden" id="hiddenCode" name="code">

        <div class="email-box">
          <i class="fas fa-envelope text-info me-2 fs-5"></i>
          <span><%= email %></span>
        </div>

        <button type="submit" class="btn btn-submit">Verify My Account</button>

        <div class="d-flex justify-content-between mt-3 px-2">
          <div class="resend">Didn’t get the code? <a href="/resend">Resend</a></div>
          <div class="back-panne"><a href="/login">Back to Login</a></div>
        </div>
      </form>
    </div>
  </div>
</section>

  <script>
    const inputs = document.querySelectorAll('.otp-input');
    const hiddenInput = document.getElementById('hiddenCode');

    inputs[0].focus();

    inputs.forEach((input, index) => {
      input.addEventListener('input', () => {
        if (input.value.length === 1 && index < inputs.length - 1) {
          inputs[index + 1].focus();
        }
        updateCode();
      });

      input.addEventListener('keydown', (e) => {
        if (e.key === 'Backspace' && input.value === '' && index > 0) {
          inputs[index - 1].focus();
        }
      });
    });

    function updateCode() {
      const code = Array.from(inputs).map(input => input.value).join('');
      hiddenInput.value = code;
    }
  </script>

  <script src="/js/bootstrap.bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/scrollReveal.js/4.0.9/scrollreveal.min.js"
        integrity="sha512-Kr+RPfLjQ71E0cJ9nseJ6jwTrnmMnuSPnnsVQQ/ZYYCjOHKfJcWj8ILICXnvf9A7ZQChNzIbr9x/ZAxA6xAZlQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/js/script.js"></script>
</body>
</html>